/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2017, 7:12:07 PM
    Author     : Ana Leon Mat.0014-0231
*/


/*------------------Inicia estilo Cabeceras y Generales------------------- *//** {
    border: 1px solid green;
    font-family: Gadugi; 
}*/


body {
  font-family: Gadugi;  
}

#contenedor1 {
    background-color: white;

}

#cabecera {
    margin: auto 15%;
    height: 250px;
    
}


#contenedor1 #cabecera img {
    width: 350px;
    height: 200px;

}

#contenedor2 {
    background-color: whitesmoke;
    height: auto; 
    padding: 0.5em 0em 1em 0em; 
    
}

#contenedor2 #contenido {
    margin: auto 15%;
    width: auto;   
    height: auto;
    
}


#contenedor2 #productos,#contenido1,#contenido2,#formulario,#mapa,#clases {
    margin: auto 15%;
    background-color: whitesmoke;

}

/*------------------Termina estilo Cabeceras y Generales------------------- */



/*--------------------------Inicio del Banner------------------------------ */

.banner {
    width: 100%;   
    height: 70%;
    margin: auto;
    
    background-size: 100% 100%;
    animation: banner 12s infinite;
}

@keyframes banner {
    0%, 20% {
        background-image: url("../imagenes/gato.jpg");
        opacity: 1;
    }
    31%, 33% {
        opacity: 0.1;
    }
    34%, 54% {
        background-image: url("../imagenes/pericos2.jpg");
        opacity: 1;
    }
    55%, 57% {
        opacity: 0.1;
    }
    58%, 77% {
        background-image: url("../imagenes/perro.jpg");
        opacity: 1;
    }
    78%, 80% {
        opacity: 0.1;
    }
    81%, 97% {
        background-image: url("../imagenes/hamster.jpg");
        opacity: 1;
    }
    98%, 100% {
        opacity: 0.1;
    }
}

/*--------------------------Termina el Banner------------------------------ */



/*----------------------------Inicia Pie----------------------------------- */

#pie {
    
    clear: both;
    height: 100px;
    text-align: center;  
}

#pie img {
    width: 20px;
    height: 20px;
}
/*----------------------------Termina Pie----------------------------------- */


/*----------------------------Inicia Menu----------------------------------- */


#menu {
    width: auto;   
    height: 30px;
    margin: auto 0 0 0;/*margin: auto auto;*/ 
    padding: 1em 0em 1em 0em;

}

#menu ul {
    width: auto;   
    height: auto;
    text-align: center;
    margin: auto auto;/*margin: 12px 0 0 0;*/
}

#menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0em 1.3em 0em 1.3em;
    font-size: 24px; font-weight: bold;
    color: limegreen;
    
}


#menu ul li:hover{
    background: greenyellow;
    border-radius: 10px;
    color: limegreen;
    font-weight: normal;
}

#menu a {
    text-decoration: none;
    color: limegreen;
    font-size: 24px; font-weight: bold;

}

#menu a:link a:visited{
    font-size: 22px;
    background: greenyellow;
    color: limegreen;
    text-decoration: none;
}


/*------------------------Termina Menu----------------------------------- */



/*------------------------Comienza Parrafo---------------------------------- */

#contenedor2 ul {
    width: auto;   
    height: auto;
    text-align: left;
    margin: auto auto;/*margin: 12px 0 0 0;*/
}

#contenedor2 ul li {
    list-style-type: none;
    padding: 1em 0em 1em 0em;
    font-size: 18px; font-weight: bold;
    color: darkorange;
    text-decoration: none;
    
}


#contenedor2 p {
    font-size: 18px;
}

#contenedor2 h1 {
    font-size: 26px;
    color: green;
}

#contenedor2 h3 {
    font-size: 22px;
    color: limegreen;
}


/*------------------------Termina Parrafo---------------------------------- */


/*----------------------Comienza estilo Quienes Somos---------------------- */
#contenedor2 #contenido1 {
    float: left;
    width: 20%;
    height: auto;
    margin-right: auto;
    background-color: whitesmoke;

}

#contenedor2 #contenido2 {
    float: left;
    width: 50%;
    height: auto;
    margin-left: auto;
    background-color: whitesmoke;

}



/*----------------------Termina estilo Quienes Somos---------------------- */