/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2017, 7:12:07 PM
    Author     : Ana Leon Mat.0014-0231
*/


/*------------------Inicia estilo Cabeceras y Generales------------------- */
/*
* {
    border: 1px solid green;
    font-family: Gadugi; 
}
*/

body #contenedor2 {
  font-family: Gadugi;  
}

body #contenedor1 {
    background-color: white;
    font-family: Lucila Sans;
}

#cabecera {
    margin: auto 15%;
    height: 250px;
    
}


#contenedor1 #cabecera img {
    width: 350px;
    height: 200px;
    float: left;
}


#contenedor2 #contenido1,#contenido2 {
    margin: auto 15%;
    padding: 0.5em 0em 0.5em 0em;
    width: auto;   
    height: auto;
}


#contenedor2 #productos,#formulario,#mapa,#clases,#contenido {
    margin: auto 15%;
    padding: 0.5em 0em 0.5em 0em;
    width: auto;   
    height: auto;
    text-align: center;
}

/*------------------Termina estilo Cabeceras y Generales------------------- */



/*--------------------------Inicio del Banner------------------------------ */

.banner {
    width: 100%;   
    height: 70%;
    margin: auto;
    
    background-size: 100% 100%;
    animation: banner 12s infinite;
}

@keyframes banner {
    0%, 20% {
        background-image: url("../imagenes/gato.jpg");
        opacity: 1;
    }
    31%, 33% {
        opacity: 0.1;
    }
    34%, 54% {
        background-image: url("../imagenes/pericos2.jpg");
        opacity: 1;
    }
    55%, 57% {
        opacity: 0.1;
    }
    58%, 77% {
        background-image: url("../imagenes/perro.jpg");
        opacity: 1;
    }
    78%, 80% {
        opacity: 0.1;
    }
    81%, 97% {
        background-image: url("../imagenes/hamster.jpg");
        opacity: 1;
    }
    98%, 100% {
        opacity: 0.1;
    }
}

/*--------------------------Termina el Banner------------------------------ */



/*----------------------------Inicia Pie----------------------------------- */

#pie {
    clear: both;
    height: 100px;
    text-align: center;  
    padding: 5px auto;
    background-color: whitesmoke;
}

#pie img {
    width: 20px;
    height: 20px;
    
}
/*----------------------------Termina Pie----------------------------------- */


/*----------------------------Inicia Menu----------------------------------- */


#menu {
    width: auto;   
    height: 30px;
    margin: auto 0 0 0; 
    padding: 1em 0em 1em 0em;

}

#menu ul {
    width: auto;   
    height: auto;
    text-align: center;
    margin: auto auto;
}

#menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0em 1.3em 0em 1.3em;
    font-size: 20px;
    color: limegreen;
}

 #menu a:hover{
    background: orange;
    border-radius: 10px;
    color: red;
    font-size: 22px;
    color: green;
}

#menu a:link a:visited{
    background: orange;
    color: green;
    text-decoration: none;
}


/*------------------------Termina Menu----------------------------------- */



/*------------------------Comienza Parrafo---------------------------------- */

#contenedor2 ul {
    width: auto;   
    height: auto;
    margin: auto auto; 
}

#contenedor2 ul li {
    list-style-type: none;
    padding: 1em 0em 1em 0em;
    font-size: 18px; font-weight: bold;
    color: green;
    text-decoration: none;    
}

#contenedor1 img {
    font-size: 20px;
    color: green;
    float: left;
}

#contenedor2 p {
    font-size: 18px;
}

#contenedor2 h1 {
    font-size: 18px;
    color: green;
}

#contenedor2 h3 {
    font-size: 22px;
    color: limegreen;
}


/*------------------------Termina Parrafo---------------------------------- */


/*----------------------Comienza estilo Quienes Somos---------------------- */
#contenedor2 #contenido1 {
    float: left;
    width: 19%;
    height: auto;
    margin-right: auto;

}

#contenedor2 #contenido2 {
    float: left;
    width: 50%;
    height: auto;
    margin-left: auto;

}

/*----------------------Termina estilo Quienes Somos---------------------- */


/*--------------------------Inicio Formulario------------------------------ */

div form{
    margin-top: 1em; 
}

label{
    display:inline-block;
    width:200px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 5em;
}

input,textarea,select{
    width:300px;
    font: 1em sans-serif;
    margin-bottom: 2em;
}

input:hover, textarea:hover, select:hover, label:hover{
  border: 1px solid #000;
  border-color: red;
}

textarea{
    vertical-align: top;
}

button{
    font-size: 14px;
}



/*--------------------------Inicio Formulario------------------------------ */
